{% comment %}
  Before & After Slider (Using Metafields for Dynamic Images)
{% endcomment %}

{% assign before_image = product.metafields.custom.before_image | img_url: 'master' %}
{% assign after_image = product.metafields.custom.after_image | img_url: 'master' %}

{% if before_image != blank and after_image != blank %}
  <div class="before-after-wrapper">
    <figure>
      <div id="before_after_{{ product.id }}" class="before-after-slider"></div>
    </figure>
    <input 
      type="range" 
      min="0" 
      max="100" 
      value="50" 
      id="before_after_slider_{{ product.id }}" 
      class="before-after-range"
    />
  </div>

  <style>
    :root {
      --before-image: url({{ before_image }});
      --after-image: url({{ after_image }});
    }

    .before-after-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: #1f1f1c;
      touch-action: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .before-after-wrapper figure {
      background-image: var(--after-image);
      position: relative;
      margin: 0;
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    .before-after-slider {
      background-image: var(--before-image);
      background-size: cover;
      bottom: 0;
      border-right: 5px solid rgba(255, 255, 255, 0.7);
      box-shadow: 10px 0 15px -13px #000;
      height: 100%;
      width: 50%;
      position: absolute;
      animation: first 2s 1 normal ease-in-out 0.1s;
      pointer-events: none;
    }

    .before-after-range {
      -moz-appearance: none;
      -webkit-appearance: none;
      border: none;
      background: transparent;
      cursor: col-resize;
      height: 100%;
      left: 0;
      margin: 0;
      outline: none;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 20;
      touch-action: none;
      -webkit-tap-highlight-color: transparent;
    }

    .before-after-range::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 100%;
      width: 40px;
      opacity: 0.01;
      cursor: col-resize;
    }

    .before-after-range::-moz-range-thumb {
      -moz-appearance: none;
      height: 100%;
      width: 40px;
      opacity: 0.01;
      cursor: col-resize;
    }

    .before-after-range::-ms-thumb {
      appearance: none;
      height: 100%;
      width: 40px;
      opacity: 0.01;
      cursor: col-resize;
    }

    .before-after-slider::before {
      background: url('https://assets.codepen.io/191814/comparision.png') no-repeat center;
      background-size: contain;
      content: " ";
      float: right;
      height: 100%;
      margin-right: -34px;
      position: relative;
      top: 0;
      width: 64px;
    }

    @keyframes first {
      0% { width: 0%; }
      50% { width: 80%; }
      100% { width: 50%; }
    }
  </style>

  <script>
    class BeforeAfterSlider {
      constructor(productId) {
        this.productId = productId;
        this.slider = document.getElementById("before_after_" + productId);
        this.range = document.getElementById("before_after_slider_" + productId);
        this.initialize();
      }

      initialize() {
        if (!this.slider || !this.range) return;
        
        // Remover eventos anteriores
        this.range.removeEventListener('input', this.updateSlider);
        this.range.removeEventListener('change', this.updateSlider);
        this.range.removeEventListener('touchstart', this.stopEvent);
        this.range.removeEventListener('touchmove', this.updateSlider);
        this.range.removeEventListener('touchend', this.stopEvent);
        this.range.removeEventListener('mousedown', this.stopEvent);
        this.range.removeEventListener('mousemove', this.updateSlider);
        this.range.removeEventListener('mouseup', this.stopEvent);
        
        // Agregar nuevos listeners
        this.updateSlider = this.updateSlider.bind(this);
        this.stopEvent = this.stopEvent.bind(this);
        
        this.range.addEventListener('input', this.updateSlider, { passive: false });
        this.range.addEventListener('change', this.updateSlider, { passive: false });
        this.range.addEventListener('touchstart', this.stopEvent, { passive: false });
        this.range.addEventListener('touchmove', this.updateSlider, { passive: false });
        this.range.addEventListener('touchend', this.stopEvent, { passive: false });
        this.range.addEventListener('mousedown', this.stopEvent, { passive: false });
        this.range.addEventListener('mousemove', this.updateSlider, { passive: false });
        this.range.addEventListener('mouseup', this.stopEvent, { passive: false });
        
        // Establecer valor inicial
        this.range.value = 50;
        this.slider.style.width = "50%";
      }

      updateSlider(e) {
        if (e) {
          e.preventDefault();
          e.stopPropagation();
        }
        this.slider.style.width = this.range.value + "%";
      }

      stopEvent(e) {
        if (e) {
          e.preventDefault();
          e.stopPropagation();
        }
      }
    }

    let sliderInstance = null;

    function initializeBeforeAfter(productId) {
      if (sliderInstance) {
        sliderInstance.initialize();
      } else {
        sliderInstance = new BeforeAfterSlider(productId);
      }
    }

    // Event Listeners
    document.addEventListener('DOMContentLoaded', () => {
      initializeBeforeAfter({{ product.id }});
    });

    // Reinicializar cuando cambie la galería
    ['t4s:mediaChange', 'flickityt4s:ready', 'flickityt4s:change'].forEach(eventName => {
      document.addEventListener(eventName, () => {
        setTimeout(() => {
          initializeBeforeAfter({{ product.id }});
        }, 100);
      });
    });

    // Reinicializar cuando se haga scroll
    let scrollTimeout;
    document.addEventListener('scroll', () => {
      clearTimeout(scrollTimeout);
      scrollTimeout = setTimeout(() => {
        initializeBeforeAfter({{ product.id }});
      }, 150);
    }, { passive: true });

    // Reinicializar cuando se haga clic en un thumbnail
    document.addEventListener('click', (e) => {
      if (e.target.closest('.t4s-product__media-item')) {
        setTimeout(() => {
          initializeBeforeAfter({{ product.id }});
        }, 100);
      }
    });
  </script>
{% endif %}
