{% schema %}
{
  "name": "Promotions Block",
  "tag": "section",
  "class": "promotions",
  "settings": [],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Ícono"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Título",
          "default": "DISHWASHER SAFE"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Descripción",
          "default": "Most of our products are dishwasher-safe. Easy to clean and stand the test of time."
        },
        {
          "type": "color",
          "id": "background",
          "label": "Color de fondo",
          "default": "#4a4c51"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Promotions Block",
      "blocks": [
        { "type": "feature" },
        { "type": "feature" },
        { "type": "feature" },
        { "type": "feature" }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
.promotions .grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.promotions .item {
  width: 50%;
  box-sizing: border-box;
  padding: 0 12px;
  text-align: center;
  font-family: 'DINOT - Cond Bold', sans-serif;
  border: 3.2px solid #fff;
}
.promotions .item-inner {
  padding: 48px 0 16px;
}
.promotions .item img {
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 auto 24px;
}
.promotions .item h1 {
  font-size: 33px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.promotions .item p {
  font-size: 19px;
  line-height: 30px;
  color: #fff;
  padding: 0 20px 38px;
}
@media (min-width: 768px) {
  .promotions .item {
    width: 50%;
  }
}
{% endstylesheet %}

<div class="promotions">
  <div class="grid">
    {% for block in section.blocks %}
      <div class="item" style="background-color: {{ block.settings.background }}">
        <div class="item-inner">
          {% if block.settings.icon %}
            <img src="{{ block.settings.icon | img_url: '200x' }}" alt="{{ block.settings.title }}" loading="lazy">
          {% endif %}
          <h1>{{ block.settings.title }}</h1>
          <p>{{ block.settings.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
