{% schema %}
{
  "name": "Video Hero",
  "settings": [
    {
      "type": "video_url",
      "id": "video_url",
      "label": "URL del video",
      "accept": ["youtube", "vimeo"]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Título",
      "default": "Over 120 years of heritage"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Descripción",
      "default": "For over a century people have loved Thermos products because they make everyday life better every time. The little things go a long way. So do we."
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Color de superposición",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Opacidad de superposición",
      "default": 0.36
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Color del texto",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Video Hero",
      "category": "Video"
    }
  ]
}
{% endschema %}

<div id="DIV_1">
	<link href="https://thermos.com/cdn/shop/t/330/assets/hero-video.css?v=104425027244989694571742848261" rel="stylesheet" type="text/css" id="LINK_2" />
	<style id="STYLE_3">
		.hero--template--18024917958812__hero_video_3N7UwA .hero__title {
			font-size: 100px;
			font-family: var(--thermos-dinot-cond-bold);
			color: {{ settings.text_color }};
		}

		@media only screen and (min-width: 769px) {
			.hero--template--18024917958812__hero_video_3N7UwA .hero__title {
				font-size: 100px;
			}
		}

		.hero--template--18024917958812__hero_video_3N7UwA .hero__text-wrap:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 3;
			background-color: {{ settings.overlay_color }};
			opacity: {{ settings.overlay_opacity }};
		}
	</style>
	<div id="DIV_4">
		<div id="DIV_5">
			<div id="DIV_6">
				{% if section.settings.video_url != blank %}
					<div class="video-wrapper">
						{% if section.settings.video_url.type == "youtube" %}
							<iframe
								src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?autoplay=1&controls=0&mute=1&loop=1&playlist={{ section.settings.video_url.id }}"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
								title="YouTube video player"
							></iframe>
						{% elsif section.settings.video_url.type == "vimeo" %}
							<iframe
								src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1&controls=0&mute=1&loop=1"
								frameborder="0"
								allow="autoplay; fullscreen"
								allowfullscreen
								title="Vimeo video player"
							></iframe>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
		<div id="DIV_8">
			<div id="DIV_9">
				<div id="DIV_10">
					<div id="DIV_11">
						<h2 id="H2_12">
							<div id="DIV_13">
								<div id="DIV_14">
									{{ section.settings.title }}
								</div>
							</div>
						</h2>
						<div id="DIV_15">
							<div id="DIV_16">
								<div id="DIV_17">
									{{ section.settings.description }}
								</div>
							</div>
						</div>
					</div>
					<div id="DIV_18">
						<button id="BUTTON_19">
						</button>
						<svg id="svg_20">
							<title id="title_21">
								Play
							</title>
							<desc id="desc_22">
								icon-play
							</desc>
							<path id="path_23">
							</path>
						</svg>
						<button id="BUTTON_24">
						</button>
						<svg id="svg_25">
							<title id="title_26">
								Pause
							</title>
							<desc id="desc_27">
								pause icon
							</desc>
							<path id="path_28">
							</path>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script id="SCRIPT_29">
		document.addEventListener('DOMContentLoaded', function () {
			var player;
			var playButton = document.getElementById('playButton');
			var pauseButton = document.getElementById('pauseButton');
			var animationContents = document.querySelectorAll('.hero__text-shadow .animation-contents');
			var animationCropper = document.querySelectorAll('.hero__text-shadow .animation-cropper');
			var iframe_tag = document.querySelector('.hero__media-container iframe');

			if (iframe_tag) {
				if (animationContents.length > 0) {
					animationContents.forEach(function (element) {
						element.classList.add('apply-animations');
					});
				}

				if (animationCropper.length > 0) {
					animationCropper.forEach(function (element) {
						element.classList.add('apply-animations');
					});
				}
			}

			var videoTags = document.querySelectorAll('.hero__media-container video.video-div');
			if (videoTags.length > 0) {
				videoTags.forEach(function (video) {
					setupVideoControls(video);
				});
			}
			
			playButton.style.display = 'none';

			function setupVideoControls(video) {
				playButton.addEventListener('click', function () {
					togglePlayPause(video, true);
				});

				pauseButton.addEventListener('click', function () {
					togglePlayPause(video, false);
				});
			}

			function togglePlayPause(media, shouldPlay) {
				if (shouldPlay) {
					playButton.style.display = 'none';
					pauseButton.style.display = 'inline-block';
					if (videoTags.length > 0) {
						media.play();
					} else {
						media.playVideo();
					}
					pauseButton.focus();
				} else {
					if (videoTags.length > 0) {
						media.pause();
					} else {
						media.pauseVideo();
					}
					playButton.style.display = 'inline-block';
					pauseButton.style.display = 'none';
					playButton.focus();
				}
			}

			var tag = document.createElement('script');
			tag.src = 'https://www.youtube.com/iframe_api';
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

			window.onYouTubeIframeAPIReady = function () {
				player = new YT.Player('YouTubeVideo-template--18024917958812__hero_video_3N7UwA', {
					events: {
						onReady: onPlayerReady,
					},
				});
			};

			function onPlayerReady(event) {
				playButton.addEventListener('click', function () {
					togglePlayPause(player, true);
				});

				pauseButton.addEventListener('click', function () {
					togglePlayPause(player, false);
				});
			}
		});
	</script>
</div>

<style>
#DIV_1 {
	block-size: 650px;
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	height: 650px;
	inline-size: 1905px;
	letter-spacing: 0.4px;
	perspective-origin: 952.5px 325px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	transform-origin: 952.5px 325px;
	width: 1905px;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_1*/

#DIV_1:after {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	letter-spacing: 0.4px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	letter-spacing: 0.4px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_1:before*/

#LINK_2, #STYLE_3, #SCRIPT_29 {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	letter-spacing: 0.4px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#LINK_2, #STYLE_3, #SCRIPT_29*/

#LINK_2:after, #STYLE_3:after, #SCRIPT_29:after {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	letter-spacing: 0.4px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#LINK_2:after, #STYLE_3:after, #SCRIPT_29:after*/

#LINK_2:before, #STYLE_3:before, #SCRIPT_29:before {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	letter-spacing: 0.4px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#LINK_2:before, #STYLE_3:before, #SCRIPT_29:before*/

#DIV_4 {
	block-size: 650px;
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	bottom: 0px;
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	height: 650px;
	inline-size: 1905px;
	inset-block-end: 0px;
	inset-block-start: 0px;
	inset-inline-end: 0px;
	inset-inline-start: 0px;
	left: 0px;
	letter-spacing: 0.4px;
	perspective-origin: 952.5px 325px;
	position: relative;
	right: 0px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 0px;
	transform-origin: 952.5px 325px;
	width: 1905px;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
	overflow: hidden;
}/*#DIV_4*/

#DIV_4:after {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	bottom: 323px;
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	content: '""';
	display: block;
	height: 3px;
	inline-size: 100px;
	inset-block-end: 323px;
	inset-block-start: 325px;
	inset-inline-end: 902.5px;
	inset-inline-start: 952.5px;
	left: 952.5px;
	letter-spacing: 0.4px;
	margin-block-start: -1px;
	margin-inline-start: -50px;
	perspective-origin: 50px 1.5px;
	position: absolute;
	right: 902.5px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 325px;
	transform: matrix(0.386596, 0, 0, 1, 0, 0);
	transform-origin: 100px 1.5px;
	width: 100px;
	z-index: 4;
	animation: 0.5s ease 0.3s infinite normal none running preloading;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	margin: -1px 0px 0px -50px;
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_4:after*/

#DIV_4:before {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	bottom: 323px;
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	content: '""';
	display: block;
	height: 3px;
	inline-size: 100px;
	inset-block-end: 323px;
	inset-block-start: 325px;
	inset-inline-end: 902.5px;
	inset-inline-start: 952.5px;
	left: 952.5px;
	letter-spacing: 0.4px;
	margin-block-start: -1px;
	margin-inline-start: -50px;
	perspective-origin: 50px 1.5px;
	position: absolute;
	right: 902.5px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 325px;
	transform-origin: 50px 1.5px;
	width: 100px;
	z-index: 4;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	margin: -1px 0px 0px -50px;
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_4:before*/

#DIV_5 {
	background-position: 50% 0%;
	block-size: 650px;
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	bottom: 0px;
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	height: 650px;
	inline-size: 1905px;
	inset-block-end: 0px;
	inset-block-start: 0px;
	inset-inline-end: 0px;
	inset-inline-start: 0px;
	left: 0px;
	letter-spacing: 0.4px;
	perspective-origin: 952.5px 325px;
	position: absolute;
	right: 0px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 0px;
	transform-origin: 952.5px 325px;
	width: 1905px;
	z-index: 1;
	background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / cover padding-box border-box;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_5*/

#DIV_5:after {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	letter-spacing: 0.4px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_5:after*/

#DIV_5:before {
	block-size: 650px;
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	bottom: 0px;
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	content: '""';
	display: block;
	height: 650px;
	inline-size: 1905px;
	inset-block-end: 0px;
	inset-block-start: 0px;
	inset-inline-end: 0px;
	inset-inline-start: 0px;
	left: 0px;
	letter-spacing: 0.4px;
	opacity: 0.1;
	perspective-origin: 952.5px 325px;
	position: absolute;
	right: 0px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 0px;
	transform-origin: 952.5px 325px;
	width: 1905px;
	z-index: 3;
	background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_5:before*/

#DIV_6 {
	block-size: 650px;
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	bottom: 0px;
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	height: 650px;
	inline-size: 1905px;
	inset-block-end: 0px;
	inset-block-start: 0px;
	inset-inline-end: 0px;
	inset-inline-start: 0px;
	left: 0px;
	letter-spacing: 0.4px;
	perspective-origin: 952.5px 325px;
	position: absolute;
	right: 0px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 0px;
	transform-origin: 952.5px 325px;
	width: 1905px;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_6*/

#DIV_6:after {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	letter-spacing: 0.4px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_6:after*/

#DIV_6:before {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	letter-spacing: 0.4px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_6:before*/

#IFRAME_7 {
	block-size: 1950px;
	border-block-end-color: rgb(33, 37, 41);
	border-block-end-style: none;
	border-block-end-width: 0px;
	border-block-start-color: rgb(33, 37, 41);
	border-block-start-style: none;
	border-block-start-width: 0px;
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-end-style: none;
	border-inline-end-width: 0px;
	border-inline-start-color: rgb(33, 37, 41);
	border-inline-start-style: none;
	border-inline-start-width: 0px;
	bottom: -650px;
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	display: block;
	height: 1950px;
	inline-size: 1905px;
	inset-block-end: -650px;
	inset-block-start: -650px;
	inset-inline-end: 0px;
	inset-inline-start: 0px;
	left: 0px;
	letter-spacing: 0.4px;
	opacity: 0.7;
	perspective-origin: 952.5px 975px;
	pointer-events: none;
	position: absolute;
	right: 0px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: -650px;
	transform-origin: 952.5px 975px;
	width: 1905px;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#IFRAME_7*/

#IFRAME_7:after {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	letter-spacing: 0.4px;
	pointer-events: none;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#IFRAME_7:after*/

#IFRAME_7:before {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	letter-spacing: 0.4px;
	pointer-events: none;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#IFRAME_7:before*/

#DIV_8 {
	block-size: 650px;
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	bottom: 0px;
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	height: 650px;
	inline-size: 1905px;
	inset-block-end: 0px;
	inset-block-start: 0px;
	inset-inline-end: 0px;
	inset-inline-start: 0px;
	left: 0px;
	letter-spacing: 0.4px;
	perspective-origin: 952.5px 325px;
	position: relative;
	right: 0px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 0px;
	transform-origin: 952.5px 325px;
	width: 1905px;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_8*/

#DIV_8:after {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	bottom: 323px;
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	content: '""';
	display: block;
	height: 3px;
	inline-size: 100px;
	inset-block-end: 323px;
	inset-block-start: 325px;
	inset-inline-end: 902.5px;
	inset-inline-start: 952.5px;
	left: 952.5px;
	letter-spacing: 0.4px;
	margin-block-start: -1px;
	margin-inline-start: -50px;
	perspective-origin: 50px 1.5px;
	position: absolute;
	right: 902.5px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 325px;
	transform: matrix(0.386596, 0, 0, 1, 0, 0);
	transform-origin: 100px 1.5px;
	width: 100px;
	z-index: 4;
	animation: 0.5s ease 0.3s infinite normal none running preloading;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	margin: -1px 0px 0px -50px;
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_8:after*/

#DIV_8:before {
	border-block-end-color: rgb(33, 37, 41);
	border-block-start-color: rgb(33, 37, 41);
	border-inline-end-color: rgb(33, 37, 41);
	border-inline-start-color: rgb(33, 37, 41);
	bottom: 323px;
	box-sizing: border-box;
	caret-color: rgb(33, 37, 41);
	color: rgb(33, 37, 41);
	column-rule-color: rgb(33, 37, 41);
	content: '""';
	display: block;
	height: 3px;
	inline-size: 100px;
	inset-block-end: 323px;
	inset-block-start: 325px;
	inset-inline-end: 902.5px;
	inset-inline-start: 952.5px;
	left: 952.5px;
	letter-spacing: 0.4px;
	margin-block-start: -1px;
	margin-inline-start: -50px;
	perspective-origin: 50px 1.5px;
	position: absolute;
	right: 902.5px;
	text-decoration: none solid rgb(33, 37, 41);
	text-emphasis-color: rgb(33, 37, 41);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 325px;
	transform-origin: 50px 1.5px;
	width: 100px;
	z-index: 4;
	border: 0px none rgb(33, 37, 41);
	font: 16px / 24px "DINOT - Cond Bold";
	margin: -1px 0px 0px -50px;
	outline: rgb(33, 37, 41) none 0px;
}/*#DIV_8:before*/

#DIV_9 {
	block-size: 650px;
	border-block-end-color: rgb(65, 66, 78);
	border-block-start-color: rgb(65, 66, 78);
	border-inline-end-color: rgb(65, 66, 78);
	border-inline-start-color: rgb(65, 66, 78);
	box-sizing: border-box;
	caret-color: rgb(65, 66, 78);
	color: rgb(65, 66, 78);
	column-rule-color: rgb(65, 66, 78);
	display: table;
	height: 650px;
	inline-size: 1905px;
	max-inline-size: 100%;
	max-width: 100%;
	padding-inline-end: 30px;
	padding-inline-start: 30px;
	perspective-origin: 952.5px 325px;
	text-decoration: none solid rgb(65, 66, 78);
	text-emphasis-color: rgb(65, 66, 78);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	transform-origin: 952.5px 325px;
	width: 1905px;
	border: 0px none rgb(65, 66, 78);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(65, 66, 78) none 0px;
	padding: 0px 30px;
}/*#DIV_9*/

#DIV_9:after {
	border-block-end-color: rgb(65, 66, 78);
	border-block-start-color: rgb(65, 66, 78);
	border-inline-end-color: rgb(65, 66, 78);
	border-inline-start-color: rgb(65, 66, 78);
	box-sizing: border-box;
	caret-color: rgb(65, 66, 78);
	color: rgb(65, 66, 78);
	column-rule-color: rgb(65, 66, 78);
	text-decoration: none solid rgb(65, 66, 78);
	text-emphasis-color: rgb(65, 66, 78);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(65, 66, 78);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(65, 66, 78) none 0px;
}/*#DIV_9:after*/

#DIV_9:before {
	border-block-end-color: rgb(65, 66, 78);
	border-block-start-color: rgb(65, 66, 78);
	border-inline-end-color: rgb(65, 66, 78);
	border-inline-start-color: rgb(65, 66, 78);
	box-sizing: border-box;
	caret-color: rgb(65, 66, 78);
	color: rgb(65, 66, 78);
	column-rule-color: rgb(65, 66, 78);
	text-decoration: none solid rgb(65, 66, 78);
	text-emphasis-color: rgb(65, 66, 78);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(65, 66, 78);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(65, 66, 78) none 0px;
}/*#DIV_9:before*/

#DIV_10 {
	block-size: 650px;
	border-block-end-color: rgb(65, 66, 78);
	border-block-start-color: rgb(65, 66, 78);
	border-inline-end-color: rgb(65, 66, 78);
	border-inline-start-color: rgb(65, 66, 78);
	bottom: 0px;
	box-sizing: border-box;
	caret-color: rgb(65, 66, 78);
	color: rgb(65, 66, 78);
	column-rule-color: rgb(65, 66, 78);
	display: table-cell;
	height: 650px;
	inline-size: 1845px;
	inset-block-end: 0px;
	inset-block-start: 0px;
	inset-inline-end: 0px;
	inset-inline-start: 0px;
	left: 0px;
	padding-block-end: 45px;
	padding-block-start: 45px;
	perspective-origin: 922.5px 325px;
	position: relative;
	right: 0px;
	text-align: center;
	text-decoration: none solid rgb(65, 66, 78);
	text-emphasis-color: rgb(65, 66, 78);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 0px;
	transform-origin: 922.5px 325px;
	vertical-align: middle;
	width: 1845px;
	z-index: 4;
	border: 0px none rgb(65, 66, 78);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(65, 66, 78) none 0px;
	padding: 45px 0px;
}/*#DIV_10*/

#DIV_10:after {
	border-block-end-color: rgb(65, 66, 78);
	border-block-start-color: rgb(65, 66, 78);
	border-inline-end-color: rgb(65, 66, 78);
	border-inline-start-color: rgb(65, 66, 78);
	box-sizing: border-box;
	caret-color: rgb(65, 66, 78);
	color: rgb(65, 66, 78);
	column-rule-color: rgb(65, 66, 78);
	text-align: center;
	text-decoration: none solid rgb(65, 66, 78);
	text-emphasis-color: rgb(65, 66, 78);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(65, 66, 78);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(65, 66, 78) none 0px;
}/*#DIV_10:after*/

#DIV_10:before {
	border-block-end-color: rgb(65, 66, 78);
	border-block-start-color: rgb(65, 66, 78);
	border-inline-end-color: rgb(65, 66, 78);
	border-inline-start-color: rgb(65, 66, 78);
	box-sizing: border-box;
	caret-color: rgb(65, 66, 78);
	color: rgb(65, 66, 78);
	column-rule-color: rgb(65, 66, 78);
	text-align: center;
	text-decoration: none solid rgb(65, 66, 78);
	text-emphasis-color: rgb(65, 66, 78);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(65, 66, 78);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(65, 66, 78) none 0px;
}/*#DIV_10:before*/

#DIV_11 {
	block-size: 238px;
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	bottom: 0px;
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	display: inline-block;
	height: 238px;
	inline-size: 996.312px;
	inset-block-end: 0px;
	inset-block-start: 0px;
	inset-inline-end: 0px;
	inset-inline-start: 0px;
	left: 0px;
	perspective-origin: 498.156px 119px;
	position: relative;
	right: 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 0px;
	transform-origin: 498.156px 119px;
	width: 996.312px;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_11*/

#DIV_11:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_11:after*/

#DIV_11:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	bottom: 0px;
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	display: block;
	inset-block-end: 0px;
	inset-block-start: 0px;
	inset-inline-end: 0px;
	inset-inline-start: 0px;
	left: 0px;
	margin-block-end: -100px;
	margin-block-start: -100px;
	margin-inline-end: -200px;
	margin-inline-start: -200px;
	position: absolute;
	right: 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 0px;
	z-index: -1;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	margin: -100px -200px;
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_11:before*/

#H2_12 {
	block-size: 120px;
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	height: 120px;
	inline-size: 996.312px;
	margin-block-end: 8px;
	margin-block-start: 0px;
	perspective-origin: 498.156px 60px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	text-transform: uppercase;
	transform-origin: 498.156px 60px;
	width: 996.312px;
	border: 0px none rgb(255, 255, 255);
	font: 500 100px / 120px "DINOT - Cond Bold";
	margin: 0px 0px 8px;
	outline: rgb(255, 255, 255) none 0px;
}/*#H2_12*/

#H2_12:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	text-transform: uppercase;
	border: 0px none rgb(255, 255, 255);
	font: 500 100px / 120px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#H2_12:after*/

#H2_12:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	text-transform: uppercase;
	border: 0px none rgb(255, 255, 255);
	font: 500 100px / 120px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#H2_12:before*/

#DIV_13 {
	block-size: 120px;
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	display: inline-flex;
	height: 120px;
	inline-size: 996.312px;
	perspective-origin: 498.156px 60px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	text-transform: uppercase;
	transform: matrix(1, 0, 0, 1, 0, 0);
	transform-origin: 498.156px 60px;
	width: 996.312px;
	animation: 0.8s cubic-bezier(0.26, 0.54, 0.32, 1) 2.5s 1 normal forwards running rise-up;
	border: 0px none rgb(255, 255, 255);
	font: 500 100px / 120px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
	overflow: hidden;
}/*#DIV_13*/

#DIV_13:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	display: block;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	text-transform: uppercase;
	border: 0px none rgb(255, 255, 255);
	font: 500 100px / 120px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_13:after*/

#DIV_13:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	display: block;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	text-transform: uppercase;
	border: 0px none rgb(255, 255, 255);
	font: 500 100px / 120px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_13:before*/

#DIV_14 {
	block-size: 120px;
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	height: 120px;
	inline-size: 996.312px;
	min-block-size: auto;
	min-height: auto;
	min-inline-size: auto;
	min-width: auto;
	perspective-origin: 498.156px 60px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	text-transform: uppercase;
	transform: matrix(1, 0, 0, 1, 0, 0);
	transform-origin: 498.156px 60px;
	width: 996.312px;
	animation: 0.8s cubic-bezier(0.26, 0.54, 0.32, 1) 2.5s 1 normal forwards running rise-up;
	border: 0px none rgb(255, 255, 255);
	font: 500 100px / 120px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
	transition: none;
}/*#DIV_14*/

#DIV_14:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	text-transform: uppercase;
	border: 0px none rgb(255, 255, 255);
	font: 500 100px / 120px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_14:after*/

#DIV_14:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	text-transform: uppercase;
	border: 0px none rgb(255, 255, 255);
	font: 500 100px / 120px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_14:before*/

#DIV_15 {
	block-size: 105px;
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	height: 105px;
	inline-size: 612px;
	margin-block-end: 5px;
	margin-block-start: 5px;
	margin-inline-end: 192.156px;
	margin-inline-start: 192.156px;
	max-inline-size: 612px;
	max-width: 612px;
	perspective-origin: 306px 52.5px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	transform-origin: 306px 52.5px;
	vertical-align: middle;
	width: 612px;
	border: 0px none rgb(255, 255, 255);
	font: 22px / 37px DINOT;
	margin: 5px 192.156px;
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_15*/

#DIV_15:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 22px / 37px DINOT;
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_15:after*/

#DIV_15:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 22px / 37px DINOT;
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_15:before*/

#DIV_16 {
	block-size: 102px;
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	display: inline-flex;
	height: 102px;
	inline-size: 612px;
	perspective-origin: 306px 51px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	transform: matrix(1, 0, 0, 1, 0, 0);
	transform-origin: 306px 51px;
	width: 612px;
	animation: 0.8s cubic-bezier(0.26, 0.54, 0.32, 1) 2.5s 1 normal forwards running rise-up;
	border: 0px none rgb(255, 255, 255);
	font: 22px / 37px DINOT;
	outline: rgb(255, 255, 255) none 0px;
	overflow: hidden;
}/*#DIV_16*/

#DIV_16:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	display: block;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 22px / 37px DINOT;
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_16:after*/

#DIV_16:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	display: block;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 22px / 37px DINOT;
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_16:before*/

#DIV_17 {
	block-size: 102px;
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	height: 102px;
	inline-size: 612px;
	min-block-size: auto;
	min-height: auto;
	min-inline-size: auto;
	min-width: auto;
	perspective-origin: 306px 51px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	transform: matrix(1, 0, 0, 1, 0, 0);
	transform-origin: 306px 51px;
	width: 612px;
	animation: 0.8s cubic-bezier(0.26, 0.54, 0.32, 1) 2.5s 1 normal forwards running rise-up;
	border: 0px none rgb(255, 255, 255);
	font: 700 22px / 34px DINOT;
	outline: rgb(255, 255, 255) none 0px;
	transition: none;
}/*#DIV_17*/

#DIV_17:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 700 22px / 34px DINOT;
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_17:after*/

#DIV_17:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 700 22px / 34px DINOT;
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_17:before*/

#DIV_18 {
	block-size: 39px;
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	bottom: 23px;
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	height: 39px;
	inline-size: 1845px;
	inset-block-end: 23px;
	inset-block-start: 588px;
	inset-inline-end: 0px;
	inset-inline-start: 0px;
	left: 0px;
	perspective-origin: 922.5px 19.5px;
	position: absolute;
	right: 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	top: 588px;
	transform-origin: 922.5px 19.5px;
	width: 1845px;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_18*/

#DIV_18:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_18:after*/

#DIV_18:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#DIV_18:before*/

#BUTTON_19 {
	appearance: button;
	border-block-end-color: rgb(255, 255, 255);
	border-block-end-style: none;
	border-block-end-width: 0px;
	border-block-start-color: rgb(255, 255, 255);
	border-block-start-style: none;
	border-block-start-width: 0px;
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-end-style: none;
	border-inline-end-width: 0px;
	border-inline-start-color: rgb(255, 255, 255);
	border-inline-start-style: none;
	border-inline-start-width: 0px;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	display: none;
	letter-spacing: 0.45px;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#BUTTON_19*/

#BUTTON_19:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	letter-spacing: 0.45px;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#BUTTON_19:after*/

#BUTTON_19:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	letter-spacing: 0.45px;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#BUTTON_19:before*/

#svg_20 {
	block-size: 20px;
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	fill: rgb(255, 255, 255);
	height: 20px;
	inline-size: 20px;
	letter-spacing: 0.45px;
	overflow-clip-margin: content-box;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	vertical-align: middle;
	width: 20px;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
	overflow: hidden;
}/*#svg_20*/

#svg_20:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#svg_20:after*/

#svg_20:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#svg_20:before*/

#title_21, #title_26 {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline;
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	transform-origin: 0px 0px;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#title_21, #title_26*/

#title_21:after, #title_26:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#title_21:after, #title_26:after*/

#title_21:before, #title_26:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#title_21:before, #title_26:before*/

#desc_22, #desc_27 {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	transform-origin: 0px 0px;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#desc_22, #desc_27*/

#desc_22:after, #desc_27:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#desc_22:after, #desc_27:after*/

#desc_22:before, #desc_27:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#desc_22:before, #desc_27:before*/

#path_23 {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	d: path("M 22.1 19.151 V 44.651 L 42.5 31.162 L 22.1 19.151 Z");
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	transform-origin: 0px 0px;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#path_23*/

#path_23:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#path_23:after*/

#path_23:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#path_23:before*/

#BUTTON_24 {
	appearance: button;
	block-size: 39px;
	border-block-end-color: rgb(255, 255, 255);
	border-block-end-style: none;
	border-block-end-width: 0px;
	border-block-start-color: rgb(255, 255, 255);
	border-block-start-style: none;
	border-block-start-width: 0px;
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-end-style: none;
	border-inline-end-width: 0px;
	border-inline-start-color: rgb(255, 255, 255);
	border-inline-start-style: none;
	border-inline-start-width: 0px;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	height: 39px;
	inline-size: 32px;
	letter-spacing: 0.45px;
	perspective-origin: 16px 19.5px;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	transform-origin: 16px 19.5px;
	width: 32px;
	background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#BUTTON_24*/

#BUTTON_24:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	letter-spacing: 0.45px;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#BUTTON_24:after*/

#BUTTON_24:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	letter-spacing: 0.45px;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#BUTTON_24:before*/

#svg_25 {
	block-size: 20px;
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	fill: rgb(255, 255, 255);
	height: 20px;
	inline-size: 20px;
	letter-spacing: 0.45px;
	overflow-clip-margin: content-box;
	perspective-origin: 10px 10px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	transform-origin: 10px 10px;
	vertical-align: middle;
	width: 20px;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
	overflow: hidden;
}/*#svg_25*/

#svg_25:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#svg_25:after*/

#svg_25:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#svg_25:before*/

#path_28 {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	d: path("M 0 0 H 3 V 13 H 0 Z M 7 0 H 10 V 13 H 7 Z");
	fill: rgb(255, 255, 255);
	fill-rule: evenodd;
	letter-spacing: 0.45px;
	perspective-origin: 0px 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	transform-origin: 0px 0px;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#path_28*/

#path_28:after {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	fill-rule: evenodd;
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#path_28:after*/

#path_28:before {
	border-block-end-color: rgb(255, 255, 255);
	border-block-start-color: rgb(255, 255, 255);
	border-inline-end-color: rgb(255, 255, 255);
	border-inline-start-color: rgb(255, 255, 255);
	box-sizing: border-box;
	caret-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	column-rule-color: rgb(255, 255, 255);
	cursor: pointer;
	fill: rgb(255, 255, 255);
	fill-rule: evenodd;
	letter-spacing: 0.45px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-emphasis-color: rgb(255, 255, 255);
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
	border: 0px none rgb(255, 255, 255);
	font: 18px / 37px "DINOT - Cond Bold";
	outline: rgb(255, 255, 255) none 0px;
}/*#path_28:before*/

</style>